@model IEnumerable<Doctor>
@{
  Doctor doctor = new Doctor();
}
<div class="card" style="width: 18rem;">
  <ul class = "border border-dark-subtle" class="list-group list-group-flush">
    @foreach(var item in @Model){
        <li class="list-group-item">
        <div>@item.Id</div>
        <form id="deleteForm-@item.Id" asp-controller="Doctor" asp-action ="DeleteDoctor">
        <div id="ItemId-@item.Id">@item.Id</div>
        <div class="card-header">Name: @item.Name</div>
        <div class="card-header">Surname: @item.Surname</div>
        <div class="card-body">
            <h5 class="card-title">Speciality: @item.Speciality</h5>
            <p class="card-text">Hospitals: @item.Hospitals</p>
            <a class="card-text" asp-controller="Doctor" asp-action="GetDoctors">Return to Main menu</a>
        </div>        
        @* <button type="button" onclick= "submitDeleteForm('@item.Id')" >Delete</button>
          <script>
            function submitDeleteForm(itemId) {
              var form = document.getElementById('deleteForm-'+itemId);
              var formData = new FormData(form);
              fetch(form.action+'?id='+itemId, {
                  method: 'DELETE',
                  body: formData
              })
              .then(response => {
                  if (response.ok) {
                      console.log('Resource deleted successfully');
                      setTimeout(() => {
                        location.reload();
                       }, 100)
                  } else {
                      console.error('Error deleting resource');
                  }
              })
              .catch(error => {
                  console.error('Error:', error);
              });
          }
          </script> *@
      </form>
        </li>
    }
  </ul>
</div>