@model IEnumerable<Game>
@{
  Game game = new Game();
}
<div class="card" style="width: 18rem;">
  <ul class = "border border-dark-subtle" class="list-group list-group-flush">
    @foreach(var item in @Model){
        <li class="list-group-item">
        <div>@item.Id</div>
        <div>Name: @item.Name</div>
        <div>Price: @item.Price</div>
        <div>Categories: @item.Categories</div>
        </li>
    }
  </ul>
</div>

<form asp-controller="Games" asp-action="AddGame" method="post">
    <label asp-for="@game.Name">Name: </label>
    <input type="text" asp-for="@game.Name">
    <br>
    <label asp-for="@game.Price">Price: </label>
    <input type="text" asp-for="@game.Price">
    <br>
    <label asp-for="@game.Categories">Categories: </label>
    <input type="text" asp-for="@game.Categories">
    <br>
    <input type="submit" value="Add">
</form>